# Python
venv/
__pycache__/
*.pyc

# Models (too large for GitHub)
#models/
models/X_train.npy
models/y_train.npy

# Data (too large for GitHub)
#sdata/

# Node
node_modules/
dashboard/node_modules/
dashboard/build/

# Environment
.env
*.pkl

