# Python
venv/
__pycache__/
*.pyc

# Models (ignore only large training arrays)
models/X_train.npy
models/y_train.npy

# Data (if needed)
# data/

# Node
node_modules/
dashboard/node_modules/
dashboard/build/

# Environment
.env
desktop.ini